---
import { Image } from 'astro:assets';
import Badge from '@/components/Badge.astro';
import Button from '@/components/Button.astro';
import SOCIAL_BUTTONS from '@/constants/social-buttons';
import image from '../assets/mario.webp';

const animationVariants: { [key: number]: string } = {
  0: 'animate-[fade-in-up_0.8s_ease-out_200ms_forwards]',
  1: 'animate-[fade-in-up_0.8s_ease-out_300ms_forwards]',
  2: 'animate-[fade-in-up_0.8s_ease-out_400ms_forwards]',
};
---

<div
  class="relative
    flex
    max-w-[746px] flex-col-reverse
    items-start md:flex-row md:items-center md:justify-between"
>
  <div class="max-w-lg">
    <a
      href="https://www.linkedin.com/in/mario-m-5903a4a6/"
      target="_blank"
      rel="noopener noreferrer"
      class="absolute
        left-28 top-6
        inline-block
        transition
        md:static md:mb-6 md:hover:scale-105"
    >
      <Badge class="animate-fade-in-down opacity-0"
        >Disponible para empleo</Badge
      >
    </a>
    <div class="animate-fade-in opacity-0">
      <h2 class="font-inter text-xl font-semibold text-secondary">Hola! Soy</h2>
      <h1 class="font-inter text-5xl font-bold">Mario Muñoz</h1>
      <p
        class="py-6
        text-2xl
        font-semibold leading-8 md:py-7
        [&>strong]:font-semibold [&>strong]:text-secondary"
      >
        Un apasionado desarrollador especializado en
        <strong>frontend con +3 años de experiencia</strong> y con sede en Málaga,
        España.
      </p>
    </div>
    <div class="flex items-center gap-2 md:gap-7">
      {
        SOCIAL_BUTTONS.map((link, index) => (
          <div class={`opacity-0 ${animationVariants[index]}`}>
            <Button
              href={link.url}
              className={`
              bg-primary 
               
              md:hover:animate-pop
              dark:bg-black-1
            `}>
              <link.icon class={`size-4 text-secondary ${link.iconClass}`} />
              {link.name}
            </Button>
          </div>
        ))
      }
    </div>
  </div>
  <div
    class="mb-4
      size-20
      animate-fade-in-down
      overflow-hidden
      rounded-full
      opacity-0 md:mb-0 md:size-44
      md:animate-fade-in-left"
  >
    <Image
      class="size-full object-cover"
      src={image}
      alt="Mario Muñoz Frontend Developer"
      loading="eager"
    />
  </div>
</div>
