---
import { Image } from 'astro:assets';
import Badge from '@/components/Badge.astro';
import Button from '@/components/Button.astro';
import FadeIn, { AnimationName } from '@/components/FadeIn.astro';
import SOCIAL_BUTTONS from '@/constants/social-buttons';
import image from '../assets/mario.webp';
---

<div
  class={`
    relative
    flex
    max-w-[720px] flex-col-reverse
    items-start md:flex-row md:items-center md:justify-between
  `}
>
  <div class="max-w-lg">
    <a
      href="https://www.linkedin.com/in/mario-m-5903a4a6/"
      target="_blank"
      rel="noopener noreferrer"
      class={`
        absolute
        left-28 top-6
        inline-block
        transition
        md:static md:mb-6 md:hover:scale-105
      `}
    >
      <FadeIn animation={AnimationName.FADE_IN_DOWN}>
        <Badge class="animate-fade-in-down">Disponible para empleo</Badge>
      </FadeIn>
    </a>
    <FadeIn animation={AnimationName.FADE_IN}>
      <h2 class="font-inter text-xl font-medium text-secondary">Hola! Soy</h2>
      <h1 class="font-inter text-5xl font-bold">Mario Muñoz</h1>
      <p
        class={`
          text-balance
          pt-4 py-6
          text-2xl font-semibold leading-8
          md:pt-5 md:pb-7 [&>strong]:font-semibold [&>strong]:text-secondary
        `}
      >
        Un apasionado desarrollador web especializado en
        <strong>frontend con +3 años de experiencia</strong> y con sede en Málaga, España.
      </p>
    </FadeIn>
    <div class="flex items-center gap-2 md:gap-7">
      {
        SOCIAL_BUTTONS.map((link, index) => (
          <FadeIn animation={AnimationName.FADE_IN_UP} delay={`${(index + 1) * 200}ms`}>
            <Button
              href={link.url}
              className={`bg-primary 
                md:hover:animate-pop
                dark:bg-black-1`}>
              <link.icon class={`size-4 text-secondary ${link.iconClass}`} />
              {link.name}
            </Button>
          </FadeIn>
        ))
      }
    </div>
  </div>
  <FadeIn animation={AnimationName.FADE_IN_LEFT} animationMobile={AnimationName.FADE_IN_DOWN}>
    <picture
      class={`
        animate-fade-in-down md:animate-fade-in-left
        mb-4
        block
        size-20
        overflow-hidden
        rounded-full md:mb-0
        md:size-44
      `}
    >
      <Image
        class="size-full object-cover"
        src={image}
        alt="Mario Muñoz Frontend Developer"
        loading="eager"
      />
    </picture>
  </FadeIn>
</div>
