---
import Button from '@/components/Button.astro';
import AppWindowIcon from '@/components/icons/AppWindow.astro';
import GithubIcon from '@/components/icons/Github.astro';
import PROJECTS from '@/constants/projects';
import { Image } from 'astro:assets';
import FadeIn, { AnimationName } from './FadeIn.astro';
---

<div class="flex flex-wrap justify-between gap-y-10 lg:gap-y-14">
  {
    PROJECTS.map(({ picture, name, tags, description, demo, source }, index) => (
      <FadeIn
        as="article"
        className={`relative
          h-max
          rounded-xl 
          bg-white 
          shadow-md 
          md:h-[540px] 
          md:max-w-[calc(50%-20px)] 
          lg:max-w-[calc(50%-28px)]
          dark:bg-black-1`}
        animation={AnimationName.FADE_IN_UP}
        delay={`${(index + 1) * 200}ms`}
        showOnScroll={true}>
        <picture
          class="block 
            h-56
            w-full 
            overflow-hidden 
            rounded-tl-xl rounded-tr-xl 
            md:h-60">
          <Image class="size-full object-cover" src={picture} alt={name} loading="eager" />
        </picture>
        <div
          class="content-wrapper 
            lg:gap56 
            flex flex-col gap-4 
            p-5">
          <h3 class="font-inter text-2xl font-bold text-primary dark:text-white">{name}</h3>
          <ul class="flex flex-wrap items-center gap-3">
            {tags.map(tag => (
              <li
                class={`flex 
                  items-center gap-1 
                  rounded-full 
                  px-3 py-1 
                  ${tag.className}`}>
                <tag.icon class="h-3" />
                <span class="text-xs font-semibold">{tag.name}</span>
              </li>
            ))}
          </ul>
          <p class="leading-6">{description}</p>
        </div>
        <div
          class="bottom-6 left-0 
            mb-6 mt-4 
            flex 
            w-full 
            justify-between 
            px-5 
            md:absolute md:mb-0 md:mt-0">
          {demo && (
            <Button
              href={demo}
              className={`dark:white 
                w-[44%]
                border
                border-primary 
                bg-white text-primary 
                opacity-100 md:hover:opacity-70 dark:md:hover:opacity-90`}>
              <AppWindowIcon class="h-5 text-secondary" />
              <span class="text-primary">Demo</span>
            </Button>
          )}
          {source && (
            <Button
              href={source}
              className={`w-[44%] 
                bg-primary 
                opacity-100 md:hover:opacity-70 dark:md:hover:opacity-90`}>
              <GithubIcon class="h-4 text-secondary" />
              Código
            </Button>
          )}
        </div>
      </FadeIn>
    ))
  }
</div>
