---
import Button from '@/components/Button.astro';
import AppWindowIcon from '@/components/icons/AppWindow.astro';
import GithubIcon from '@/components/icons/Github.astro';
import { PROJECTS } from '@/constants/projects.ts';
import { Image } from 'astro:assets';
---

<div class="flex flex-wrap gap-y-10 lg:gap-y-14 justify-between">
  {
    PROJECTS.map(({ picture, name, tags, description, demo, source }) => (
      <article class="md:max-w-[calc(50%-20px)] lg:max-w-[calc(50%-28px)] h-max md:h-[540px] dark:bg-black-1 bg-white rounded-xl relative shadow-md">
        <div class="w-full h-56 md:h-60 overflow-hidden rounded-sm rounded-tl-xl rounded-tr-xl">
          <Image
            class="size-full object-cover"
            src={picture}
            alt={name}
            loading="eager"
          />
        </div>
        <div class="content-wrapper p-5 flex flex-col gap-4 lg:gap56">
          <h3 class="font-bold text-2xl font-inter dark:text-white text-primary">
            {name}
          </h3>
          <ul class="flex flex-wrap items-center gap-2">
            {tags.map(tag => (
              <li
                class={`flex py-1 px-3 items-center gap-1 rounded-full ${tag.className}`}>
                <tag.icon class="h-3" />
                <span class={`text-xs font-semibold`}>{tag.name}</span>
              </li>
            ))}
          </ul>
          <p class="leading-6">{description}</p>
        </div>
        <div class="flex justify-between px-5 mt-4 mb-6 md:absolute md:mt-0 md:mb-0 left-0 bottom-6 w-full">
          {demo && (
            <Button
              href={demo}
              class="w-[44%] dark:white bg-white text-primary border border-primary">
              <AppWindowIcon class="h-5 text-secondary" />
              <span class="text-primary">Demo</span>
            </Button>
          )}
          {source && (
            <Button href={source} class="w-[44%] bg-primary">
              <GithubIcon class="h-4 text-secondary " />
              Código
            </Button>
          )}
        </div>
      </article>
    ))
  }
</div>
